* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header  {
padding: 25px 35px;
margin-bottom: 60px;
}
header h1,a {
    display: inline-block;
}

header h1 {
    margin-right: 80%;
    font-family: sans-serif;
    font-size: 40px;
    color: #BDBDBD;
}

header a {
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;

}

.main-left-section {
    width: 34%;
    float: left;
    padding: 101px 0 171px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    background-color: #BDBDBD;

}

.main-right-section {
    float: right;
    position: relative;
   

    
  
}


.main-left-text1 {
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 40px;
}

.main-left-text2 {
    font-size: 18px;
    margin-bottom: 40px;
}

.main-left-button {
    background-color: #FA3F3F;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    color: white;
}

.main-right-section hr {
    height: 3px;
    background-color: white;
    margin-bottom: 30px;
}

.main-list {
    list-style-type: none;
    margin-top: 70px;
  
}
.main-item {
    display: inline-block;
    margin-right: 30px;
}

.main-item a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

main {
    margin-bottom: 700px;
}